{% extends 'base.html' %}

{% block title %}Registruotis{% endblock %}

{% block content %}
  
    <form action="{{url_for('register')}}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.vardas.label() }}
            {{ form.vardas() }}
          </div>
          <div class="form-group">
            {{ form.pavarde.label() }}
            {{ form.pavarde() }}
          </div>
          <div class="form-group">
            {% for pasirinkimas in form.vaidmuo %}
            <tr>
                <td>{{ pasirinkimas }}</td>
                <td>{{ pasirinkimas.label }}</td>
            </tr>
        {% endfor %}
          </div>
        <div class="form-group">
          {{ form.el_pastas.label() }}
          {{ form.el_pastas() }}
        </div>
        <div class="form-group">
            {{ form.slaptazodis.label() }}
            {{ form.slaptazodis() }}
          </div>
          <div class="form-group">
            {{ form.studiju_programa.label()}}
            {{ form.studiju_programa()}}
          </div>
        <br>
        <div class="form-group">
          {{form.submit()}}
        </div>
    </form>

{% endblock %}
